<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="template.js"></script>
</head>
<body>
	<div id="app">
	</div>
</body>
<script type="text" id="templateText">
	<div>
	    <ul>
		    <%= for(var i=0;i < obj.length; i++) { %> 
		    	<li>${obj[i].name}</li> 
		    <%= } %> 
	    </ul> 
    </div> 
</script>
<script>
  	var str = document.querySelector("#templateText").innerText
  	str = str.replace(/\n/g, "");
     var obj = [
        {name: "李飞1"},
        {name: "李飞2"},
        {name: "李飞3"},
    ];
    
    var html = template(obj, str);
    var app = document.querySelector("#app")
    app.innerHTML = html;
</script>
</html>